# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI models
*.pt
*.onnx
*.h5
*.pkl

# Secrets
*.pem# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# AI models
*.pt
*.onnx
*.h5
*.pkl

# Secrets
*.pem